
{%- if site.fb_comment_id -%}
<div class="mt-2">
<a href='https://www.facebook.com/webtool.vn/' target='_blank'><img alt='fanpage Tạo ảnh đẹp' src='https://graph.facebook.com/106001598315939/picture?width=50&%3Bheight=50%27%2F' style=' width: 28px;height: 28px;border-radius: 3px;margin: 0;vertical-align: top;border: 1px solid #ddd;'/></a>
<div class='fb-like' data-action='like' data-href='https://www.facebook.com/webtool.vn/' data-layout='button_count' data-share='false' data-size='large' data-width='300px'></div>
<div class='fb-share-button' data-href='https://www.webtool.vn.com/2021/06/ghep-anh-song-ao-khoe-iphone-12-tren-xe.html' data-layout='button_count' data-size='large'></div>
</div>
<div class="comments px-3 pb-2">
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId={{ site.fb_comment_id }}&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-comments" data-href="{{ page.url | absolute_url }}" data-width="100%" data-numposts="5"></div>
  <noscript>Please enable JavaScript to view the comments powered by Facebook.</noscript>
</div>
{%- endif -%}
