<footer class="bg-light py-3 shadow-tad">
  <div class="container-md">
    <div class="row">
      <div class="col">

      {% if page.footer-extra %}
        <div class="footer-custom-content">
          {% for file in page.footer-extra %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <p class="copyright text-muted m-0">
      {% if site.author %}
        {{ site.author }}
      -
      {% endif %}
      {{ site.time | date: '%Y' }}

      {% if site.url-pretty %}
       -
        <span class="author-site">
          <a href="{% if site.url-canonical %}{{ site.url-canonical }}{% else %}{{ '' | absolute_url }}{% endif %}">{{ site.title }}</a>
        </span>
      {% endif %}

      {% if site.matomo %}
        {% if site.matomo.opt-out %}
         -
          <a href="http://{{- site.matomo.uri -}}/index.php?module=CoreAdminHome&action=optOut" target="_blank" class="text_muted">Do-not-Track</a>
        {% endif %}
      {% endif%}
      </p>

      </div>
    </div>
  </div>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js'></script>