<div class="container">
<footer class="card py-3">
  <div class="container-md">
    <div class="row">
      <div class="col">

      {% if page.footer-extra %}
        <div class="footer-custom-content">
          {% for file in page.footer-extra %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <p class="copyright text-muted m-0">
      {% if site.author %}
        {{ site.author }}
      -
      {% endif %}
      {{ site.time | date: '%Y' }}

      {% if site.url-pretty %}
       -
        <span class="author-site">
          <a href="{% if site.url-canonical %}{{ site.url-canonical }}{% else %}{{ '' | absolute_url }}{% endif %}">{{ site.title }}</a>
        </span>
      {% endif %}

      {% if site.matomo %}
        {% if site.matomo.opt-out %}
         -
          <a href="http://{{- site.matomo.uri -}}/index.php?module=CoreAdminHome&action=optOut" target="_blank" class="text_muted">Do-not-Track</a>
        {% endif %}
      {% endif%}



      <a href="//www.dmca.com/Protection/Status.aspx?ID=410bf07a-c6c8-460b-837d-97d66c25c457" title="DMCA.com Protection Status" class="dmca-badge" style=" float: right; "> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-08.png?ID=410bf07a-c6c8-460b-837d-97d66c25c457" alt="DMCA.com Protection Status" style=" vertical-align: sub; "></a>
      <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      </p>

      </div>
    </div>
  </div>
</footer>
</div>
