html,body {
    overflow-x: hidden;
}
body {
    background-color: #eee;
    padding: 0 !important;
}
    header h1 {
    font-size: 2rem;
    }h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    }h3 {
    font-size: 1.25rem;
    margin: .5rem 0;
    }
    .post-preview {
    margin-bottom: 15px;
    }
    .post-preview .media {
    position: relative;
    background: #fff;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    border-radius: .25rem;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important
    }
    .post-preview h2 {
    font-size: 20px;
    color: #323f52;margin: 0;
    }
    .post-preview h3 {
    font-size: 15px;color: #777;
    }
    .post-preview .media-body {
    padding: 10px;
    }.post-preview img {
    width: 100px;height: 100px;
    object-fit: cover;
    }
    .post-thumb {
    overflow: hidden;
    margin: 10px 0 10px 10px;
    border-radius: .25rem;
    }.tad-container .container {
    padding-left: 30px;
    padding-right: 30px;
    }.danhmuc>div {
    -ms-flex: none;
    flex: none;
    padding-left: 0;
    padding-right: 15px;
    }.card {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 0;
    }.card-header {
    border: 0;
    background-color: rgba(0,0,0,.05);
    }
    @media only screen and (max-width: 768px) {
    .container {
    padding: 0;
    }
    }