---
layout: default
title: Tính điểm tốt nghiệp
subtitle: Công cụ tính điểm tốt nghiệp THPT 2021
tags: [Học tập]
thumbnail-img: https://znews-photo.zadn.vn/w660/Uploaded/mdf_drkydd/2019_06_26/6f73e0f8f18115df4c90_Zing__2.jpg
---


<div class="row content">
    <div class="col-lg-9">
    <center>
    <h1>Tính điểm tốt nghiệp 2021</h1> Bạn chắc chắn đỗ, cố lên!<br /><br />
    <div class="alert alert-danger"><strong>Công cụ tư vấn chọn trường cao đẳng & đại học 2021
    </strong><a href="#">Sắp ra mắt</a></div>
    </center>
    {% include ads1.html %}
    <div class="card mb-3">
        <div class="card-header"><ul class="card-header-tabs nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" id="tx-tab" data-toggle="tab" href="#tx" role="tab" aria-controls="tx" aria-selected="true">Tính xuôi</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="tn-tab" data-toggle="tab" href="#tn" role="tab" aria-controls="tn" aria-selected="false">Tính ngược</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GDTX</a>
            <div class="dropdown-menu" style="">
            <a class="dropdown-item" id="gdtx-tx-tab" data-toggle="tab" href="#gdtx-tx" role="tab" aria-controls="gdtx-tx" aria-selected="true">Tính xuôi</a>
            <a class="dropdown-item" id="gdtx-tn-tab" data-toggle="tab" href="#gdtx-tn" role="tab" aria-controls="gdtx-tn" aria-selected="false">Tính ngược</a>
            </div>
            </li>
            </ul></div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tx" role="tabpanel" aria-labelledby="tx-tab">
    <form class="form-horizontal">
    <div class="row">
    <div class="col-sm-4">
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">Toán</span></span>
    <input onblur="if(this.value>10)this.value=10" id="diemtoan" type="number" class="form-control" name="diemtoan" placeholder="Điểm môn toán">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">Văn</span></span> <input onblur="if(this.value>10)this.value=10" id="diemvan" type="number" class="form-control" name="diemvan" placeholder="Điểm môn văn"></div>
    <br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">Anh</span></span> <input onblur="if(this.value>10)this.value=10" id="diemanh" type="number" class="form-control" name="diemanh" placeholder="Điểm môn anh"></div>
    <br />
    </div>
    <div class="col-sm-4">
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TH1</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtohop1" type="number" class="form-control" name="diemtohop1" placeholder="Điểm môn tổ hợp 1">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TH2</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtohop2" type="number" class="form-control" name="diemtohop2" placeholder="Điểm môn tổ hợp 2">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TH3</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtohop3" type="number" class="form-control" name="diemtohop3" placeholder="Điểm môn tổ hợp 3">
    </div><br />
    </div>
    <div class="col-sm-4">
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TB</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtb" type="number" class="form-control" name="diemtb" placeholder="Điểm trung bình cả năm">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">KK</span></span> <input onblur="if(this.value>2)this.value=2" id="diemkk" type="number" class="form-control" name="diemkk" placeholder="Điểm khuyến khích">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">ƯT</span></span> <input onblur="if(this.value>0.5)this.value=0.5" id="diemut" type="number" class="form-control" name="diemut" placeholder="Điểm ưu tiên"></div>
    <br />
    </div>
    </div> <button type="button" class="btn btn-success btn-block" onclick="tinhxuoii()" data-toggle="modal" data-target="#tinhxuoi0">Tính</button>
    </form>
    </div>
    <div class="tab-pane fade" id="tn" role="tabpanel" aria-labelledby="tn-tab">
    <form>
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TB</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtbn" type="number" class="form-control" name="diemtbn" placeholder="Điểm trung bình cả năm"></div>
    <br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">KK</span></span> <input onblur="if(this.value>2)this.value=2" id="diemkkn" type="number" class="form-control" name="diemkkn" placeholder="Điểm khuyến khích"></div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">ƯT</span></span> <input onblur="if(this.value>0.5)this.value=0.5" id="diemutn" type="number" class="form-control" name="diemutn" placeholder="Điểm ưu tiên"></div><br />
    <button type="button" class="btn btn-success btn-block" onclick="tinhnguocc()" data-toggle="modal" data-target="#tinhnguoc0">Tính</button>
    </form>
    </div>
    <div class="tab-pane fade" id="gdtx-tx" role="tabpanel" aria-labelledby="gdtx-tx-tab">
    <form>
    <div class="row">
    <div class="col-sm-6">
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">BT1</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtoangdtx" type="number" class="form-control" name="diemtoangdtx" placeholder="Điểm bài thi 1"></div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">BT2</span></span> <input onblur="if(this.value>10)this.value=10" id="diemvangdtx" type="number" class="form-control" name="diemvangdtx" placeholder="Điểm bài thi 2"></div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">BT3</span></span> <input onblur="if(this.value>10)this.value=10" id="diemanhgdtx" type="number" class="form-control" name="diemanhgdtx" placeholder="Điểm bài thi 3"></div><br />
    </div>
    <div class="col-sm-6">
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TB</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtbgdtx" type="number" class="form-control" name="diemtbgdtx" placeholder="Điểm trung bình cả năm"></div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">KK</span></span> <input onblur="if(this.value>2)this.value=2" id="diemkkgdtx" type="number" class="form-control" name="diemkkgdtx" placeholder="Điểm khuyến khích">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">ƯT</span></span> <input onblur="if(this.value>0.5)this.value=0.5" id="diemutgdtx" type="number" class="form-control" name="diemutgdtx" placeholder="Điểm ưu tiên"></div>
    <br />
    </div>
    </div> <button type="button" class="btn btn-success btn-block" onclick="tinhxuoiigdtx()" data-toggle="modal" data-target="#tinhxuoi0gdtx">Tính</button>
    </form>
    </div>
    <div class="tab-pane fade" id="gdtx-tn" role="tabpanel" aria-labelledby="gdtx-tn-tab">
    <form>
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">TB</span></span> <input onblur="if(this.value>10)this.value=10" id="diemtbngdtx" type="number" class="form-control" name="diemtbngdtx" placeholder="Điểm trung bình cả năm">
    </div><br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">KK</span></span> <input onblur="if(this.value>2)this.value=2" id="diemkkngdtx" type="number" class="form-control" name="diemkkngdtx" placeholder="Điểm khuyến khích"></div>
    <br />
    <div class="input-group"> <span class="input-group-prepend"><span class="input-group-text">ƯT</span></span> <input onblur="if(this.value>0.5)this.value=0.5" id="diemutngdtx" type="number" class="form-control" name="diemutngdtx" placeholder="Điểm ưu tiên"></div><br />
    <button type="button" class="btn btn-success btn-block" onclick="tinhnguoccgdtx()" data-toggle="modal" data-target="#tinhnguoc0gdtx">Tính</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="tinhxuoi0" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Kết quả</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body"> <span id="tinhxuoi"></span><br /> <span id="tinhxuoi2"></span>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="tinhnguoc0" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Kết quả</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body"><span id="tinhnguoc"></span>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="tinhxuoi0gdtx" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Kết quả</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body"><span id="tinhxuoigdtx"></span><br /><span id="tinhxuoi2gdtx"></span>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="tinhnguoc0gdtx" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Kết quả</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body"><span id="tinhnguocgdtx"></span>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></div>
    </div>
    </div>
    </div>
    {% include ads2.html %}
    <div class="card mb-3">
    <div class="card-header">Bình luận, góp ý và báo lỗi</div>
    <div class="card-body">
        {% include fb-comment.html %}
    </div>
    </div>
    </div>
    <div class="col-lg-3">
    <div class="card mb-3">
    <div class="card-header">
    <center>Một số thông tin cần lưu ý</center>
    </div>
    <div class="card-body"> <b>Điểm khuyến khích là gì?</b><br>-Điểm nghề<br>-Đạt giải cá nhân kỳ thi
    học sinh giỏi...<br>-Đoạt giải cá nhân và đồng đội trong các kỳ thi thí nghiệm thực
    hành...<br>-Học viên GDTX có chứng chỉ Ngoại ngữ A hoặc Tin học A trở lên...<br>Xem thêm <a href="#" target="_blank">Tại đây</a><br><br><b>Điểm ưu tiên là gì?</b><br>-Diện 1: Không được cộng
    điểm ưu tiên<br>-Diện 2: Cộng 0,25 điểm đối với thí sinh thuộc một trong những đối
    tượng...<br>-Diện 3: Cộng 0,5 điểm đối với thí sinh thuộc một trong những đối tượng...<br>Xem
    thêm <a href="#" target="_blank">Tại đây</a> <br />

    <div class="fb-like" data-href="https://webtool.vn/tinh-diem-tot-nghiep-thpt/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    </div>

    {% include ads3.html %}
    </div>
    </div>
    <script src="../toolsrc/thpt/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>